.password-strength-container {
  .strength-bar {
    width: 100%;
    background: #eee;
    border: 1px solid #000;

    .strength-block {
      
      height: 10px;

      &.Weak {
        width: 33%;
        background: red;
      }

      &.Medium {
        width: 66%;
        background: orange;
      }

      &.Strong {
        width: 100%;
        background: green;
      }

    }

    
  }

  .password-strength-text {
    text-align: right;
    font-size: 14px;
  }
}
