.dynamic-table {
  width: 100%;
  border: 1px solid #eee;
  border-bottom: none;

  .header-row, .item-row {
    width: 100%;
    display: flex;
    flex-direction: row;
  }


  .header-row {
    background: #eee;    
    border-bottom: 1px solid #000; 
    
    .header-col {
      font-weight: bold;
    }
  }

  .item-row {
    border-bottom: 1px solid #eee;
  }

  .header-col, .item {
    flex: 1;
    padding: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-wrap: wrap;
  }
}