.dynamic-table {
  .table {
    margin-bottom: 0;
    margin-top: 0.5rem;
    width: 100%;
    color: #212529;

    thead {
      tr {
        background: transparent;
      }
    }

    
    tr {
      th {
        text-transform: uppercase;
        font-weight: 700;
        font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        font-size: 0.9rem;
        letter-spacing: 0.06em;
      }

      td {
        font-size: 0.9rem;
        span {
          display: none;
        }
      }

      td, th {
        border-top: none;
        line-height: 1.42857143;
        padding: 0.8rem;
        border-bottom: 1px solid rgba(224, 224, 224, 0.7);
      }
    }

    tbody {
      tr {
        background: #fff;
        &:hover {
          color: #212529;
          background: rgba(0,0,0,.075);
        }
      }
    }

    @media (max-width: 767px) {
      thead, tbody, th, td, tr {
        display: block;
      }

      thead {
        tr {
          display: none;
        }
      }

      tr {
        border: 1px solid rgba(230, 230, 230, 0.7);
        margin-bottom: 15px;

        td {
          span {
            display: inline-block;
            margin-right: 1rem;
            font-weight: 700;
            text-transform: uppercase;
          }
        }
       
      }

      tbody {
        tr {
          &:hover {
            background: #fff;
          }
        }
      }

      
    }
  
  }

  .bottom-action-row {
    padding: 0.8rem 0;
    text-align: right;
    display: flex;
    justify-content: space-between;

    #perpage-dropdown {
      width: 100px;
      border: 1px solid #eee;

      &:focus, &:focus-visible {
        outline: none;
      }
    }
  }

  .pagination {
    margin: 0;
    border: 1px solid #eee;
    
    li {
      display: inline-block;
      background: #fff;
      color: #212529;
      border-right: 1px solid #eee;

      a {
        display: inline-block;
        padding: 0.4rem 0.6rem;
      }

      &.disabled {
        cursor: default;
      }

      &.active {
        background: #eee;
      }

      &:last-child {
        border-right: none;
      }

      &.disabled {
        color: rgba(3,3,3,0.5);
      }
    }
  }


}